COCAT_TOKEN_SECRET="change-me-to-a-long-random-secret"
COCAT_ACCESS_TOKEN=""
COCAT_ALLOWED_ORIGINS=""
COCAT_MAX_ACTIVE_JOBS="3"
COCAT_MAX_ACTIVE_REMUX_JOBS="1"
COCAT_MAX_SOURCE_TOKENS="200"
COCAT_MAX_STORED_JOBS="100"
COCAT_MAX_UPLOAD_BYTES="536870912"
COCAT_MAX_UPSTREAM_BODY_BYTES="10485760"
COCAT_JOB_TTL_SECONDS="900"
COCAT_SOURCE_TTL_SECONDS="600"
COCAT_REQUEST_TIMEOUT_MS="12000"
COCAT_TEMP_DIR=""
COCAT_ENABLE_SPOTMATE="false"
COCAT_ENABLE_YTDOWN="false"
COCAT_YTDOWN_COOKIE=""
